* {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
}

.wrapper {
  color: white;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}