* {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.wrapper {
  /* background-color: #ddd; */
  /* background: rgb(82,92,144);
  background: radial-gradient(circle, rgba(82,92,144,1) 0%, rgba(48,60,116,1) 21%, rgba(12,16,36,1) 100%);
   */


/* background: rgb(52,33,103); */
/* background: linear-gradient(90deg, rgba(52,33,103,1) 0%, rgba(0,0,0,1) 50%, rgba(18,49,75,1) 100%); */
  

/* background: rgb(29,18,59); */
/* background: linear-gradient(117deg, rgba(29,18,59,1) 0%, rgba(196,196,196,1) 50%, rgba(1,37,68,1) 100%); */

/* background: rgb(11,4,18); */
/* background: linear-gradient(218deg, rgba(11,4,18,1) 0%, rgba(205,205,194,1) 50%, rgba(2,15,27,1) 100%); */
background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* background: rgb(11,4,18); */
/* background: linear-gradient(218deg, rgba(11,4,18,1) 0%, rgba(205,205,194,1) 50%, rgba(2,15,27,1) 100%); */
  /* background: rgb(2,0,36); */
  /* background: linear-gradient(65deg, rgba(2,0,36,1) 0%, rgba(195,195,255,1) 54%, rgba(0,0,0,1) 100%); */
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, img {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
}

img {
  width: 250px;
  height: auto;
}


.dg.ac {
  z-index: 2;
}