* {
  padding: 0;
  margin: 0;
}

canvas#c {
  display: block;
  /* background-color: black; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.canvas-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.wrapper {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
  z-index: 2;
}

.dg.ac {
  z-index: 2;
}

.rotate {
  animation: rotation 30s linear infinite;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}