* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1, img {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
}

img {
  width: 250px;
  height: auto;
}